[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
httpx = "*"
beautifulsoup4 = "*"
jinja2 = "*"
fastapi-cache2 = "*"
itsdangerous = "*"
requests = "*"
orjson = "*"

[dev-packages]

[requires]
python_version = "3.12"
